Django
celery[redis]
whitenoise
cython
numpy
Pillow
djangorestframework
markdown
django-filter
flower
django-celery-results
psycopg2
django-bootstrap3
django-jquery
imutils
scipy
scikit-image
scikit-learn
