{% load staticfiles %}

{# Load the tag library #}
{% load bootstrap3 %}

<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap-toggle.min.js' %}"></script>
<script src="{% static 'js/modernizr-custom.js' %}"></script>

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{#{% bootstrap_messages %}#}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diplomova praca</title>
    <!-- Core CSS - Include with every page -->
    <link href="{% static 'css/bootstrap-toggle.min.css' %}" rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container-fluid">
        <div class="navbar-header">

            <a class="navbar-brand" href="/">Diplomová Práca</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="/">
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span>
                    Domov
                </a>
            </li>
            <li>
                <a href="/earTrainer">
                    <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    Trénovanie klasifikátora
                </a>
            </li>
            <li>
                <a href="/earDetector">
                     <span class="glyphicon glyphicon-camera" aria-hidden="true"></span>
                    Detektor ucha
                </a>
            </li>
            <li>
               {% if user.is_authenticated %}
                    <button onclick="window.location.href='/logout'" class="btn navbar-btn btn-danger" >Logout</button>
                {% else %}
                    <button onclick="window.location.href='/login'" class="btn btn-info navbar-btn">Login</button>
                {% endif %}

            </li>
        </ul>
    </div>
</nav>

{% block content %}
{% endblock %}


<!-- Core Scripts - Include with every page -->
{#<script src="{% static 'js/jquery.min.js' %}"></script>#}
{#<script src="{% static 'js/bootstrap.min.js' %}"></script>#}
{% block javascript %}
{% endblock %}

</body>
</html>