{% extends 'base.html' %}

{% block content %}

    <div class="container">
    <div class="row">
        <div class="jumbotron">
            <h1>Detektor Ucha</h1>

            <form action="{%  url "detect" %}" method="post" enctype="multipart/form-data">
                {%  csrf_token %}
                <p>
                    <input id="image" type="file" name="image">
                </p>

                <div class="form-group">
                    <label for="xml">XML</label>
                    <select class="form-control" id="xml" name="xml">
                        {% for xml in xmls %}
                            <option value="{{ xml.1 }}">{{ xml.0 }}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="checkbox">
                    <label>
                        <input name="cascade" id="cascade" data-toggle="toggle" type="checkbox">
                        Haar detektor

                    </label>
                </div>
                <div class="checkbox">
                    <label>
                        <input name="ellipse_find" id="ellipse_find" data-toggle="toggle" type="checkbox">
                        Najdenie elipsy

                    </label>
                </div>

            <p><input type="submit" value="Detect"/></p>

            </form>

            {% for image in images %}
                <img src="{{ image }}">
            {% endfor %}

        </div>
    </div>
</div>



{% endblock %}