{% extends 'base.html' %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="jumbotron">
                <h1>Trenovanie klasifikatora</h1>
                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Nove
                    trenovanie
                </button>
                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#samples">Vytvorit
                    vzorky
                </button>
                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#trainer">Spustit
                    trenovanie
                </button>
                <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#tester">Otestuj
                </button>
                <button type="button" class="btn btun-info btn-lg" onclick="location.href='{% url "results" %}'">Vysledky</button>

                <!-- Modal -->
                <div class="modal fade" id="samples" role="dialog">
                    <div class="modal-dialog">
                        <form action="{% url "samples" %} " method="post">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Vytvorit pozitivne vzorky</h4>
                                </div>
                                <div class="modal-body">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="name" class="form-control-label">Meno:</label>
                                        <input type="text" name="name" class="form-control" id="name">
                                    </div>
                                    <div class="form-group">
                                        <label for="positive_samples" class="form-control-label">Pocet pozitivnych
                                            vzoriek:</label>
                                        <input type="text" name="positive_samples" class="form-control"
                                               id="positive_samples">
                                    </div>
                                    <div class="form-group">
                                        <label for="x_angle" class="form-control-label">Uhol osi X (default 0.3)</label>
                                        <input type="text" name="x_angle" class="form-control" id="x_angle">
                                    </div>
                                    <div class="form-group">
                                        <label for="y_angle" class="form-control-label">Uhol osi Y(default 0.3)</label>
                                        <input type="text" name="y_angle" class="form-control" id="y_angle">
                                    </div>
                                    <div class="form-group">
                                        <label for="z_angle" class="form-control-label">Uhol osi Z(default 1.0)</label>
                                        <input type="text" name="z_angle" class="form-control" id="z_angle">
                                    </div>
                                    <div class="form-group">
                                        <label for="max_dev" class="form-control-label">Max intensity Dev. (default
                                            40)</label>
                                        <input type="text" name="max_dev" class="form-control" id="max_dev">
                                    </div>
                                    <div class="form-group">
                                        <label for="w" class="form-control-label">Sirka snimok (default 20)</label>
                                        <input type="text" name="w" class="form-control" id="w">
                                    </div>
                                    <div class="form-group">
                                        <label for="h" class="form-control-label">Vyska snimok (default 40)</label>
                                        <input type="text" name="h" class="form-control" id="h">
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Zavriet</button>
                                    <button type="submit" class="btn btn-primary">Start</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="trainer" role="dialog">
                    <div class="modal-dialog">
                        <form action="{% url "trainer" %} " method="post">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Spustenie trenovania</h4>
                                </div>
                                <div class="modal-body">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="name" class="form-control-label">Meno:</label>
                                        <input type="text" name="name" class="form-control" id="name">
                                    </div>
                                    <div class="form-group">
                                        <label for="samplesId" class="form-control-label">Pozitivne
                                            snimky:</label>
                                        <select class="form-control" id="samplesId" name="samplesId">
                                            {% for sample in all_samples %}
                                                <option value="{{ sample.pk }}">{{ sample.name }} kluc {{ sample.pk }}</option>
                                            {% endfor %}

                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="negative_samples" class="form-control-label">Pocet negativnych
                                            vzoriek:</label>
                                        <input type="text" name="negative_samples" class="form-control"
                                               id="negative_samples">
                                    </div>
                                    <div class="form-group">
                                        <label for="num_stages" class="form-control-label">num_stages</label>
                                        <input type="text" name="num_stages" class="form-control" id="num_stages">
                                    </div>
                                    <div class="form-group">
                                        <label for="precalcValBuf" class="form-control-label">precalcValBuf</label>
                                        <input type="text" name="precalcValBuf" class="form-control" id="precalcValBuf">
                                    </div>
                                    <div class="form-group">
                                        <label for="precalcIdxBuf" class="form-control-label">precalcIdxBuf</label>
                                        <input type="text" name="precalcIdxBuf" class="form-control" id="precalcIdxBuf">
                                    </div>
                                    <div class="form-group">
                                        <label for="numThreads" class="form-control-label">numThreads</label>
                                        <input type="text" name="numThreads" class="form-control" id="numThreads">
                                    </div>
                                 <div class="form-group">
                                        <label for="acceptanceBreak" class="form-control-label">acceptanceBreak</label>
                                        <input type="text" name="acceptanceBreak" class="form-control" id="acceptanceBreak">
                                    </div>
                                    <div class="form-group">
                                        <label for="bt" class="form-control-label">bt</label>
                                        <select class="form-control" id="bt" name="bt">
                                            <option value="RAB" selected>RAB</option>
                                            <option value="LB">LB</option>
                                            <option value="GAB">GAB</option>
                                            <option value="DAB">DAB</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="minHitRate" class="form-control-label">minHitRate</label>
                                        <input type="text" name="minHitRate" class="form-control" id="minHitRate">
                                    </div>
                                    <div class="form-group">
                                        <label for="maxFalseAlarm" class="form-control-label">maxFalseAlarm</label>
                                        <input type="text" name="maxFalseAlarm" class="form-control" id="maxFalseAlarm">
                                    </div>
                                <div class="form-group">
                                        <label for="weightTrimRate" class="form-control-label">weightTrimRate</label>
                                        <input type="text" name="weightTrimRate" class="form-control" id="weightTrimRate">
                                    </div>
                                    <div class="form-group">
                                        <label for="maxDepth" class="form-control-label">maxDepth</label>
                                        <input type="text" name="maxDepth" class="form-control" id="maxDepth">
                                    </div>
                                    <div class="form-group">
                                        <label for="maxWeakCount" class="form-control-label">maxWeakCount</label>
                                        <input type="text" name="maxWeakCount" class="form-control" id="maxWeakCount">
                                    </div>
                                    <div class="form-group">
                                        <label for="featureType" class="form-control-label">featureType</label>
                                        <select class="form-control" id="featureType" name="featureType">
                                            <option value="LBP" selected>LBP</option>
                                            <option value="HAAR">HAAR</option>
                                        </select>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Zavriet</button>
                                    <button type="submit" class="btn btn-primary">Start</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>

                <!-- Modal -->
                <div class="modal fade" id="tester" role="dialog">
                    <div class="modal-dialog">
                        <form action="{% url "tester" %} " method="post">

                            <!-- Modal content-->
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">Spustenie testovania</h4>
                                </div>
                                <div class="modal-body">
                                    {% csrf_token %}
                                    <div class="form-group">
                                        <label for="xml_file" class="form-control-label">XML File to test:</label>
                                        <select class="form-control" id="xml_file" name="xml_file">
                                            {% for training in all_trainings %}
                                                <option value="{{ training.pk }}">{{ training.name }} </option>
                                            {% endfor %}
                                        </select>
                                    </div>

                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Zavriet</button>
                                    <button type="submit" class="btn btn-primary">Start</button>
                                </div>
                            </div>
                        </form>

                    </div>
                </div>

                {% if form.errors %}
                    {% for field in form %}
                        {% for error in field.errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                    {% for error in form.non_field_errors %}
                        <div class="alert alert-danger">
                            <strong>{{ error|escape }}</strong>
                        </div>
                    {% endfor %}
                {% endif %}


            </div>
        </div>
    </div>
{% endblock %}